@page "/"
@inject Model Model;

<h1>InfoCarrier.Core</h1>

<p>This component demonstrates Entity Framework Core working inside your browser.</p>

<ul>
    @foreach (var output in Model.Output)
        {
    <li>
        <b>@output.Date.ToString("T")</b>
        <pre>@output.Content</pre>
    </li>
        }
</ul>

<button class="btn btn-primary"
        @onclick="@Model.NextStepAsync"
        disabled="@Model.IsBusy">
    @Model.NextStepName
</button>
